@import '../theme/variables';

.container-fluid {
  background-color: $white;
}

.title {
  color: $brand-color;
}

a {
  cursor: pointer;
  font-size: smaller;
  color: $primary !important;
  
  &:hover {
    text-decoration: underline !important;
  }
}

h4 {
  font-weight: 600;
  margin-top: 0.5rem;
}
ul {
  list-style: none;
}

p {
  font-size: 18px;
}

.link-image {
  border-width: 0;
  border-style: none;
  padding-top: 5px;
  padding-right: 5px;
}
