@import '../theme/variables';

:host {
  display: inline-block;
}

span {
  color: $white;
  border-radius: 3px;
  padding: 3px 10px;

  .bg-white {
    color: $black;
    border-width: 1px;
    border-color: $black;
  }
}
