// Tool front pages ============================================================

.yti-tool-front-page {
  $result-list-name-right-margin: 210px !default;
  $result-list-description-right-margin: 210px !default;
  $result-list-labels-right-margin: 210px !default;
  $result-list-description-align: left !default;

  .tool-inner-title {
    display: none;
  }

  .tool-info {
    width: calc(100% - 200px);
  }

  .extend-search-selections {
    label {
      font-size: inherit;
      margin-bottom: 0;
    }
  }

  button.add-main-entity {
    margin-bottom: 30px;
  }

  .information-domain-container {
    .information-domain {
      display: flex;
      width: 100%;
      padding: 0px 10px 0px 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      border: 1px solid $white;
      align-items: center;

      &:hover, &.active {
        background-color: $light-blue-background;
        border-color: $gray-500;
      }

      &.active {
        font-weight: 500;
      }

      img {
        width: 36px;
        height: 36px;
        margin: 0px 10px 0px 0px;
        flex: 0 0 auto;
      }

      .name {
        min-width: 0px;
        flex: 1 1 auto;
        overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .count {
        color: $primary;
        flex: 0 0 auto;
      }
    }
  }

  .result-list-container {
    padding-bottom: 0px;

    .result-list-filter-row {
      display: flex;
      align-items: center;

      .result-list-filter-dropdowns {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: -0.5rem;

        > * {
          margin-bottom: 0.5rem;
          margin-left: 0.5rem;
        }
      }
    }

    .result-list-item {
      border-top: 1px solid $gray-500;
      margin-left: -25px;
      margin-right: -25px;
      padding: 10px 35px 10px 30px;

      .name {
        color: $blue-link;
        font-family: $font-family-sans-semibold;
        font-size: 1.15rem;
        line-height: 1.725rem;
        vertical-align: baseline;
        font-weight: 400;
        width: calc(100% - #{$result-list-name-right-margin});
        display: block;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .description-component-container {
        width: calc(100% - #{$result-list-description-right-margin});
        margin-top: 1em;
        margin-bottom: 0.3em;

        &.nrr {
          width: auto;
        }
      }

      .information-domains {
        display: block;
        margin: 0.5rem 0 0.5rem 0;
        width: calc(100% - #{$result-list-labels-right-margin});
      }

      ul.organizations {
        width: calc(100% - #{$result-list-labels-right-margin});
      }

      .type {
        float: right;
        clear: right;
        color: $gray-k40;
        line-height: 1.725rem;
        vertical-align: baseline;

        i.material-icons {
          margin-right: 5px;
          vertical-align: middle;
        }
      }

      .status {
        margin-top: 0.25rem;
        float: right;
        clear: right;
      }

      .meta-information-row {
        width: calc(100% - #{$result-list-labels-right-margin});

        .organizations {
          display: inline-block;
          width: auto;
          margin: 0.25rem 1rem 0.1rem 0;

          &.dot-separated-list li {
            font-size: 0.85rem;
            color: $gray-900;
          }
        }

        .information-domains {
          display: inline-block;
          width: auto;
          margin: 0.1rem 0 0 0;
        }
      }

      .deep-results {
        margin-top: 1em;

        .deep-results-title {
          font-weight: 600;
          font-size: 0.86rem;
        }

        .deep-results-section {
          margin-left: 1rem;
          margin-bottom: 0.2rem;
          &:last-child {
            margin-bottom: 0;
          }

          .deep-results-section-title {
            font-weight: 600;
            font-size: 0.86rem;
          }

          .deep-results-section-content {
            font-size: 0rem;

            a.deep-results-hit {
              display: inline-block;
              font-size: 0.9375rem;
              margin-right: 1rem;
              max-width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: middle;
            }

            .deep-results-show-all {
              display: inline-block;
              font-size: 0.9375rem;
              font-style: italic;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
